<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>
{% block title %}
LAK PANEL
{% endblock %}
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">


{% block css %}
{% endblock %}


</head>


<body>


<div class="app">


    {% include "layouts/sidebar.html" %}



    <div class="main">


        {% include "layouts/header.html" %}



        <main class="content">

            {% block content %}
            {% endblock %}

        </main>


    </div>


</div>



</body>

</html>
