<aside class="sidebar">


<div class="brand">

<div class="logo">
L
</div>

<div>
<h2>LAK PANEL</h2>
<span>Control Center</span>
</div>

</div>



<nav>


<div class="section">
MAIN
</div>


<a href="/">
Dashboard
</a>


<a href="/users" class="active">
Users
</a>


<a href="/servers">
Servers
</a>


<a href="#">
Groups
</a>


<a href="#">
Administrators
</a>



<div class="section">
SYSTEM
</div>


<a href="#">
Logs
</a>


<a href="#">
Backups
</a>


<a href="#">
Restore
</a>


<a href="#">
Settings
</a>


</nav>



<div class="system-box">

<div>
● All systems operational
</div>

<br>

Server Time

</div>



</aside>
