<aside class="sidebar">


<div class="brand">

<div class="logo">
L
</div>


<div>
<h2>LAK PANEL</h2>
<span>Control Center</span>
</div>


</div>


<div class="menu-title">
MAIN
</div>


<a href="/">
Dashboard
</a>


<a href="/users">
Users
</a>


<a href="#">
Online Users
</a>


<a href="#">
Servers
</a>


<a href="#">
Groups
</a>


<a href="#">
Administrators
</a>


<div class="menu-title">
SYSTEM
</div>


<a href="#">
Logs
</a>


<a href="#">
Backups
</a>


<a href="#">
Restore
</a>


<a href="#">
Settings
</a>



<div class="system-box">

<h4>
System Status
</h4>

<p>
🟢 All systems operational
</p>


</div>


</aside>
