<div class="sidebar">


<div class="logo">

<div class="logo-icon">
L
</div>

<div>
<h2>LAK PANEL</h2>
<span>Control Center</span>
</div>

</div>



<ul>


<li>⌂ Dashboard</li>


<li class="active">
👥 Users
</li>


<li>
🟢 Online Users
</li>


<li>
▣ Servers
</li>


<li>
▱ Groups
</li>


<li>
♙ Administrators
</li>


<br>


<li>
▤ Logs
</li>


<li>
♧ Backups
</li>


<li>
↺ Restore
</li>


<li>
⚙ Settings
</li>


</ul>



<div class="system-box">

<h4>System Status</h4>


<span class="online">
● All systems operational
</span>


<hr>


<p>
Server Time
</p>


<span id="server-time"></span>


</div>


</div>
