APP_NAME="L-PANEL"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost


LOG_CHANNEL=stack
LOG_LEVEL=error


DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=lpanel
DB_USERNAME=lpanel_user
DB_PASSWORD=


CACHE_DRIVER=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database


REDIS_HOST=127.0.0.1
REDIS_PORT=6379


MAIL_MAILER=log


OCSERV_DEFAULT_PORT=443
