.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:22px;
    margin-bottom:22px;
}

.stat-card,
.progress-card,
.info-card{

    background:#182233;

    border:1px solid rgba(255,255,255,.05);

    border-radius:16px;

    padding:22px;

    transition:.25s;

}

.stat-card:hover,
.progress-card:hover,
.info-card:hover{

    transform:translateY(-3px);

    border-color:#3b82f6;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.stat-card{

    display:flex;

    align-items:center;

    gap:18px;

}

.stat-icon{

    width:64px;

    height:64px;

    border-radius:16px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:24px;

    color:#fff;

}

.blue{background:#2563eb;}
.green{background:#22c55e;}
.orange{background:#f59e0b;}
.purple{background:#8b5cf6;}

.stat-info{

    flex:1;

}

.stat-value{

    font-size:34px;

    font-weight:700;

    color:#fff;

}

.stat-title{

    color:#97a6ba;

    margin-top:6px;

}

.progress-header{

    display:flex;

    justify-content:space-between;

    color:#fff;

    margin-bottom:12px;

}

.progress{

    width:100%;

    height:10px;

    background:#0f172a;

    border-radius:999px;

    overflow:hidden;

}

.progress-bar{

    height:100%;

    background:#3b82f6;

    border-radius:999px;

}

.green-bar{

    background:#22c55e;

}

.orange-bar{

    background:#f59e0b;

}

.info-card{

    display:flex;

    align-items:center;

    gap:18px;

}

.info-card i{

    width:58px;

    height:58px;

    border-radius:14px;

    background:#3b82f6;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

.info-card strong{

    color:#fff;

    display:block;

    margin-bottom:4px;

}

.info-card p{

    color:#9ca3af;

    margin:0;

    font-size:15px;

}
