body{
margin:0;
font-family:Arial;
background:#101827;
color:white;
}

.sidebar{
width:240px;
height:100vh;
background:#172554;
position:fixed;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px 0;
}

.sidebar a{
color:white;
text-decoration:none;
}

.content{
margin-left:260px;
padding:30px;
}

.card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.login-box{
width:350px;
margin:120px auto;
background:#1e293b;
padding:30px;
border-radius:10px;
}

.login-box input{
width:100%;
padding:10px;
margin-top:10px;
box-sizing:border-box;
}

.login-box button{
width:100%;
margin-top:15px;
padding:10px;
cursor:pointer;
}

.error{
color:#ff6b6b;
margin-top:15px;
}
