[Unit]
Description=LAK Panel
After=network.target


[Service]

Type=simple

WorkingDirectory=/opt/lak-panel/panel/backend

ExecStart=/opt/lak-panel/panel/backend/venv/bin/python3 /opt/lak-panel/panel/backend/run.py

Restart=always

RestartSec=5

User=root


[Install]

WantedBy=multi-user.target
