<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>
{% block title %}
LAK PANEL
{% endblock %}
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">


{% block css %}
{% endblock %}


</head>


<body>


<div class="wrapper">


    {% include "layouts/sidebar.html" %}


    <div class="main">


        {% include "layout/header.html" %}


        <section class="content">

            {% block content %}
            {% endblock %}

        </section>


    </div>


</div>


</body>

</html>
