<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>
{% block title %}
LAK PANEL
{% endblock %}
</title>

<link rel="stylesheet" href="/static/css/variables.css">
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/components.css">

<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/css/table.css">  
{% block css %}{% endblock %}
  



{% block css %}
{% endblock %}


</head>


<body>


<div class="app">


{% include "layout/sidebar.html" %}



<div class="main">


{% include "layout/header.html" %}



<div class="content">

{% block content %}
{% endblock %}

</div>


</div>


</div>


</body>

</html>
