body{

margin:0;

font-family:tahoma;

background:#f4f6f9;

}


.layout{

display:flex;

min-height:100vh;

}



.sidebar{

width:240px;

background:#111827;

color:white;

padding:25px;

}


.sidebar h2{

text-align:center;

margin-bottom:30px;

}



.sidebar a{

display:block;

color:#ddd;

text-decoration:none;

padding:14px;

border-radius:8px;

margin-bottom:8px;

}



.sidebar a:hover{

background:#2563eb;

color:white;

}



.main{

flex:1;

padding:30px;

}



.title{

font-size:28px;

margin-bottom:30px;

}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}



.card{

padding:25px;

border-radius:18px;

color:white;

box-shadow:0 10px 25px #0002;

}



.card strong{

font-size:40px;

display:block;

margin:20px 0;

}



.blue{

background:#2563eb;

}


.green{

background:#16a34a;

}


.orange{

background:#ea580c;

}


.purple{

background:#9333ea;

}



.panel-box{

background:white;

margin-top:30px;

padding:25px;

border-radius:18px;

box-shadow:0 5px 20px #0001;

}



.status{

color:#16a34a;

font-weight:bold;

}


.status span{

display:inline-block;

width:12px;

height:12px;

background:#16a34a;

border-radius:50%;

margin-left:8px;

}
