body{

background:#0f172a;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Tahoma;

}

.login-card{

width:430px;

background:#1e293b;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.4);

color:#fff;

}

.logo{

text-align:center;

margin-bottom:20px;

}

.logo img{

width:90px;

}

.form-control{

background:#334155;

border:none;

color:#fff;

}

.form-control:focus{

background:#475569;

color:#fff;

}

.btn-primary{

background:#2563eb;

border:none;

height:48px;

}

.btn-primary:hover{

background:#1d4ed8;

}
