body{

margin:0;
font-family:Arial;
background:#f5f5f5;

}


.sidebar{

width:220px;
height:100vh;
background:#111;
color:white;
position:fixed;
padding:20px;

}


.sidebar a{

display:block;
color:white;
text-decoration:none;
padding:10px;

}



.content{

margin-left:260px;
padding:40px;

}



.box{

background:white;
padding:20px;
border-radius:10px;

}
