.dropdown{
position:relative;
display:inline-block;
}


.dots-btn{

background:none;
border:none;
font-size:28px;
cursor:pointer;

}



.dropdown-menu{

display:none;

position:absolute;

right:0;

background:white;

min-width:160px;

box-shadow:0 5px 20px #0003;

border-radius:10px;

z-index:100;

}



.dropdown-menu a{

display:block;

padding:10px;

text-decoration:none;

color:#333;

}



.dropdown-menu a:hover{

background:#eee;

}



.dropdown-menu .danger{

color:red;

}



.dropdown:hover .dropdown-menu{

display:block;

}
