.service-table{

width:100%;
border-collapse:collapse;

background:white;

}


.service-table th{

background:#0f172a;
color:white;
padding:15px;

}



.service-table td{

padding:15px;

border-bottom:1px solid #e5e7eb;

}



.service-table tr:hover{

background:#f8fafc;

}



.running{

background:#16a34a;
color:white;

padding:6px 15px;

border-radius:20px;

}



.stopped{

background:#dc2626;
color:white;

padding:6px 15px;

border-radius:20px;

}



.btn{

display:inline-block;

padding:8px 14px;

border-radius:10px;

color:white;

text-decoration:none;

font-size:13px;

}



.green{

background:#16a34a;

}



.red{

background:#dc2626;

}



.orange{

background:#ea580c;

}
