.service-table{

width:100%;
border-collapse:collapse;

}


.service-table th{

background:#f1f5f9;
padding:15px;

}


.service-table td{

padding:15px;

border-bottom:1px solid #eee;

}



.running{

background:#22c55e;
color:white;

padding:7px 15px;

border-radius:20px;

}



.stopped{

background:#ef4444;
color:white;

padding:7px 15px;

border-radius:20px;

}



.btn{

padding:8px 15px;

border-radius:10px;

color:white;

text-decoration:none;

margin:3px;

}



.green{

background:#16a34a;

}


.red{

background:#dc2626;

}


.orange{

background:#ea580c;

}
