{% extends "base.html" %}


{% block title %}
Edit User
{% endblock %}




{% block content %}


<div class="card">


<h2>Edit {{user.username}}</h2>



<form method="POST">


<input
name="username"
value="{{user.username}}"
>



<br><br>



<select name="status">


<option value="active"
{% if user.status=="active" %}
selected
{% endif %}
>
Active
</option>



<option value="blocked"
{% if user.status=="blocked" %}
selected
{% endif %}
>
Blocked
</option>


</select>


<br><br>



<input
type="date"
name="expire_date"
>



<br><br>


<button>
Save
</button>


</form>



</div>


{% endblock %}
