<!DOCTYPE html>
<html>

<head>

<title>Users</title>

<style>

body{
font-family:Arial;
background:#f1f5f9;
margin:0;
}


.sidebar{

position:fixed;
width:250px;
height:100%;
background:#071329;
color:white;
padding:25px;

}


.content{

margin-left:300px;
padding:40px;

}


.box{

background:white;
padding:30px;
border-radius:20px;

}


table{

width:100%;
border-collapse:collapse;

}


td,th{

padding:15px;
border-bottom:1px solid #ddd;

}

button{

background:#2563eb;
color:white;
border:0;
padding:10px 20px;
border-radius:8px;

}


</style>


</head>


<body>


<div class="sidebar">

<h1>LAK PANEL</h1>

<p>Dashboard</p>
<p>Users</p>
<p>Servers</p>
<p>Settings</p>

</div>



<div class="content">


<div class="box">


<h2>Users</h2>


<a href="/users/create">

<button>
+ Create User
</button>

</a>



<table>


<tr>

<th>Username</th>
<th>Status</th>
<th>Expire</th>
<th>Traffic</th>
<th>Actions</th>

</tr>



{% for user in users %}


<tr>

<td>{{user.username}}</td>

<td>{{user.status}}</td>

<td>{{user.expire_date}}</td>

<td>
{{user.used_traffic}} / {{user.traffic_limit}}
</td>


<td>

<a href="/users/{{user.id}}">Profile</a>

</td>


</tr>


{% endfor %}



</table>


</div>


</div>


</body>

</html>
