<!DOCTYPE html>
<html lang="fa">
<head>

<title>L-Panel Users</title>

<style>

body{
font-family:tahoma;
direction:rtl;
padding:30px;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #ddd;
padding:10px;
}


.active{
color:green;
}

.disabled{
color:red;
}

a{
margin:5px;
}

</style>

</head>


<body>


<h2>
مدیریت کاربران
</h2>


<a href="/users/add">
➕ افزودن کاربر
</a>


<br><br>


<table>

<tr>

<th>
ID
</th>

<th>
Username
</th>

<th>
Traffic
</th>

<th>
Status
</th>

<th>
Action
</th>

</tr>


{% for user in users %}

<tr>


<td>
{{user.id}}
</td>


<td>
{{user.username}}
</td>


<td>
{{user.traffic_limit}}
</td>


<td>

<span class="{{user.status}}">
{{user.status}}
</span>

</td>


<td>

<a href="/users/edit/{{user.id}}">
ویرایش
</a>


<a href="/users/toggle/{{user.id}}">
تغییر وضعیت
</a>


<a href="/users/delete/{{user.id}}">
حذف
</a>


</td>


</tr>

{% endfor %}


</table>


</body>
</html>
