{% extends "base.html" %}


{% block title %}
User Profile
{% endblock %}



{% block content %}


<div class="card">


<h2>
User Profile
</h2>



<table>


<tr>

<td>
Username
</td>

<td>
{{user.username}}
</td>

</tr>




<tr>

<td>
Password
</td>

<td>
{{user.password}}
</td>

</tr>




<tr>

<td>
Status
</td>

<td>
{{user.status}}
</td>

</tr>




<tr>

<td>
Expire Date
</td>

<td>
{{user.expire_date or "-"}}
</td>

</tr>




<tr>

<td>
Traffic Limit
</td>

<td>
{{user.traffic_limit}}
</td>

</tr>




<tr>

<td>
Used Traffic
</td>

<td>
{{user.used_traffic}}
</td>

</tr>




<tr>

<td>
Created
</td>

<td>
{{user.created_at}}
</td>

</tr>



</table>



<br>


<a href="/users/edit/{{user.id}}">

<button>
Edit User
</button>

</a>



</div>



{% endblock %}
