.auth-layout{

    display:flex;

    min-height:100vh;

    position:relative;

    overflow:hidden;

}

.auth-background{

    position:absolute;

    inset:0;

    overflow:hidden;

}

.circle{

    position:absolute;

    border-radius:50%;

    filter:blur(80px);

    opacity:.15;

}

.circle-1{

    width:350px;

    height:350px;

    background:#2563EB;

    top:-80px;

    left:-100px;

}

.circle-2{

    width:400px;

    height:400px;

    background:#06B6D4;

    right:-150px;

    bottom:-120px;

}

.circle-3{

    width:250px;

    height:250px;

    background:#3B82F6;

    left:40%;

    top:20%;

}

.auth-left{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    padding:80px;

    z-index:2;

}

.brand-logo{

    width:82px;

    height:82px;

    border-radius:20px;

    background:#2563EB;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:42px;

    font-weight:bold;

    margin-bottom:25px;

    box-shadow:0 20px 40px rgba(37,99,235,.35);

}

.brand h1{

    font-size:56px;

    margin-bottom:10px;

}

.brand p{

    color:#94A3B8;

    font-size:22px;

}

.features{

    margin-top:70px;

}

.features div{

    margin-bottom:18px;

    font-size:18px;

    color:#CBD5E1;

}

.auth-right{

    width:520px;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:60px;

    z-index:2;

}

@media(max-width:1000px){

    .auth-left{

        display:none;

    }

    .auth-right{

        width:100%;

    }

}
