{% extends "base.html" %}

{% block content %}

<div id="dashboard-content">

    {% include "dashboard_content.html" %}

</div>

<script>

window.dashboardSettings = {

    autoRefresh:
        {% if dashboard is defined %}
            {{ "true" if dashboard.auto_refresh else "false" }}
        {% else %}
            true
        {% endif %},

    interval:
        {% if dashboard is defined %}
            {{ dashboard.refresh_interval }}
        {% else %}
            2
        {% endif %}

};

</script>

<script src="/static/js/dashboard.js"></script>

{% endblock %}
