<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Dashboard</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="sidebar">

<h2>LAK PANEL</h2>

<ul>

<li>Dashboard</li>

<li>Users</li>

<li>Servers</li>

<li>Groups</li>

<li>Admins</li>

<li><a href="/logout">Logout</a></li>

</ul>

</div>

<div class="content">

<h1>Dashboard</h1>

<p>Welcome Admin #{{ admin_id }}</p>

<div class="card">

Users : 0

</div>

<div class="card">

Servers : 0

</div>

<div class="card">

Groups : 0

</div>

<div class="card">

Admins : 1

</div>

</div>

</body>

</html>
