<!DOCTYPE html>
<html>
<head>

<title>Lak Panel</title>

<link rel="stylesheet" href="/static/css/app.css">

</head>

<body>


<div class="sidebar">

<div class="logo">
LAK PANEL
<span>Control Center</span>
</div>


<a href="/">Dashboard</a>

<a class="active" href="/users">
Users
</a>

<a href="#">
Servers
</a>

<a href="#">
Backups
</a>

<a href="#">
Settings
</a>


</div>


<div class="content">

<header>

<div>
<h2>
{% block title %}{% endblock %}
</h2>
</div>


<div class="top">

<span class="online">
● Online
</span>

<button>
+ Create User
</button>

</div>

</header>


{% block content %}

{% endblock %}


</div>


<script src="/static/js/app.js"></script>

</body>
</html>
