*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Arial,
sans-serif;

background:#f4f6fb;

}


.wrapper{

display:flex;

min-height:100vh;

}



.sidebar{

width:260px;

background:#111827;

color:white;

padding:25px;

}



.sidebar a{

display:block;

color:#cbd5e1;

padding:12px;

margin-top:10px;

text-decoration:none;

}



.sidebar a:hover{

background:#2563eb;

border-radius:8px;

}



.main{

flex:1;

}



.header{

height:70px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

}



.content{

padding:30px;

}
