*{
    box-sizing:border-box;
}


:root{

    --bg:#050b1d;
    --panel:#0b1734;
    --panel2:#101d3b;

    --border:#1e335c;

    --text:#e5e7eb;
    --muted:#94a3b8;

    --primary:#2563eb;

}


html,
body{

    margin:0;
    padding:0;

    width:100%;
    min-height:100%;

    font-family:
    Inter,
    Arial,
    sans-serif;

    background:var(--bg);

    color:var(--text);

}



a{

    text-decoration:none;

    color:inherit;

}



.app{

    display:flex;

    min-height:100vh;

}



.main{

    margin-left:290px;

    width:calc(100% - 290px);

}



.content{

    padding:35px;

}
