.app{

display:flex;

min-height:100vh;

}



.sidebar{

width:270px;

background:#111827;

border-right:1px solid #1f2937;

padding:25px;

position:fixed;

top:0;

bottom:0;

}



.main{

margin-left:270px;

width:calc(100% - 270px);

}



.content{

padding:35px;

}
