.sidebar{

width:280px;

min-height:100vh;

background:#071329;

color:white;

padding:25px;

}


.sidebar h2{

font-size:28px;

}


.sidebar li{

list-style:none;

padding:12px;

margin:5px 0;

}



.sidebar .active{

background:#2563eb;

border-radius:10px;

}



.header{

height:70px;

background:white;

color:#111;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

}
