.app{

display:flex;

min-height:100vh;

}



.sidebar{


width:280px;

background:#071329;

border-right:1px solid var(--border);

padding:25px;

position:fixed;

height:100vh;

}



.main{


margin-left:280px;

width:calc(100% - 280px);

}



.header{


height:90px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 35px;

border-bottom:1px solid var(--border);


}



.content{

padding:35px;

}



.brand{

display:flex;

gap:15px;

align-items:center;

margin-bottom:40px;

}



.logo{


width:45px;

height:45px;

border-radius:12px;

background:var(--primary);

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

font-weight:bold;


}


.brand h2{

font-size:20px;

}


.brand span{

color:var(--muted);

font-size:12px;

}
