:root{

--bg:#050b1c;
--panel:#0b1530;
--card:#101d3b;
--border:#1d3158;

--primary:#2563eb;
--green:#10b981;
--red:#ef4444;
--yellow:#f59e0b;

--text:#e5e7eb;
--muted:#94a3b8;

}


*{

box-sizing:border-box;
font-family:
"Tajawal",
Tahoma,
Arial;

}



body{

margin:0;

background:
linear-gradient(
135deg,
#020617,
#08152f
);

color:var(--text);

}



/******** Sidebar ********/


.sidebar{

position:fixed;

right:0;

top:0;

height:100vh;

width:290px;

background:

linear-gradient(
180deg,
#061127,
#091936
);


border-left:1px solid #14264d;

padding:25px;


}



.logo{

font-size:24px;

font-weight:bold;

color:white;

margin-bottom:40px;

}



.menu-title{

font-size:12px;

color:#64748b;

margin:25px 0 10px;

}



.menu a{

display:flex;

align-items:center;

gap:15px;

padding:14px;

margin-bottom:8px;

color:#cbd5e1;

text-decoration:none;

border-radius:12px;

transition:.3s;

}



.menu a:hover,
.menu a.active{


background:
linear-gradient(
90deg,
#2563eb,
#1d4ed8
);


color:white;


}




/******** Main ********/


.main{

margin-right:290px;

}



.topbar{


height:90px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;


background:#071329cc;

backdrop-filter:blur(10px);

border-bottom:1px solid var(--border);


}



.page-title h1{

margin:0;

font-size:28px;

}


.page-title span{

color:var(--muted);

}



/******** Cards ********/


.cards{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

margin-bottom:30px;

}



.stat-card{


background:
linear-gradient(
145deg,
#101c38,
#0a142b
);


border:1px solid var(--border);

border-radius:18px;

padding:25px;


}



.stat-card h2{

font-size:32px;

margin:10px 0;

}



.icon{

width:55px;

height:55px;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

background:#1e40af;

}



/******** Table ********/


.table-box{


background:
linear-gradient(
145deg,
#0d1833,
#081329
);


border:1px solid var(--border);

border-radius:20px;

padding:25px;


}



.table-header{


display:flex;

justify-content:space-between;

margin-bottom:20px;


}



.search{


background:#081329;

border:1px solid var(--border);

padding:12px 20px;

border-radius:12px;

color:white;


}



table{

width:100%;

border-collapse:collapse;

}



th{


text-align:right;

padding:18px;

color:#94a3b8;

border-bottom:1px solid var(--border);


}



td{


padding:18px;

border-bottom:1px solid #14264d;


}



.badge{


padding:6px 14px;

border-radius:20px;

font-size:13px;


}



.online{


background:#064e3b;

color:#34d399;


}



.offline{


background:#3f1722;

color:#fb7185;


}



.avatar{


width:38px;

height:38px;

border-radius:50%;

display:inline-flex;

align-items:center;

justify-content:center;

background:#2563eb;

margin-left:10px;

}
