.sidebar{

width:290px;
height:100vh;
background:#071225;
border-right:1px solid #182742;

padding:28px;

color:#dce7ff;

}



.brand{

display:flex;
gap:15px;
align-items:center;

}



.logo{

width:45px;
height:45px;

background:#1565ff;

border-radius:14px;

display:flex;
align-items:center;
justify-content:center;

font-size:24px;
font-weight:bold;

}



.brand h2{

margin:0;
font-size:22px;

}


.brand span{

font-size:12px;
color:#8da2c7;

}



nav{

margin-top:45px;

}



nav a{

display:block;

padding:14px 18px;

margin:8px 0;

border-radius:12px;

color:#b7c7e8;

text-decoration:none;

transition:.3s;

}



nav a:hover,
nav a.active{

background:linear-gradient(
90deg,
#1559ff,
#173db8
);


color:white;

}



.section{

font-size:12px;
color:#60739b;

margin:25px 0 10px;

}



.system-box{

position:absolute;

bottom:35px;

background:#0c1a33;

padding:20px;

border-radius:15px;

width:230px;

color:#8fa4ca;

}
