.page-title{

display:flex;
justify-content:space-between;
align-items:center;

}


.page-title h1{

font-size:32px;
margin:0;

}


.page-title p{

color:#94a3c7;

}




.create-user{

background:#2563eb;

border:0;

padding:15px 25px;

border-radius:12px;

color:white;

}



.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-top:35px;

}



.stat-card{

padding:30px;

border-radius:18px;

background:#0b1730;

border:1px solid #1d3155;

}



.stat-card h2{

font-size:38px;

margin:0;

}



.stat-card span{

color:#9aa8c7;

}



.blue{

box-shadow:0 0 30px #006eff33;

}



.green{

box-shadow:0 0 30px #00ff8833;

}



.purple{

box-shadow:0 0 30px #8b5cf633;

}



.orange{

box-shadow:0 0 30px #ff990033;

}





.users-box{

margin-top:30px;

background:#0a152b;

border:1px solid #1c2d50;

border-radius:18px;

padding:25px;

}



.users-header{

display:flex;

justify-content:space-between;

margin-bottom:25px;

}



.search{

background:#101e38;

border:1px solid #243858;

padding:14px;

border-radius:10px;

color:white;

}



table{

width:100%;

border-collapse:collapse;

}


th{

text-align:left;

color:#9baad0;

padding:18px;

}



td{

padding:18px;

border-top:1px solid #1c2d50;

}



.username{

display:flex;

align-items:center;

gap:12px;

}



.avatar{

width:38px;

height:38px;

border-radius:50%;

background:#2563eb;

display:flex;

align-items:center;

justify-content:center;

}



.status{

padding:8px 14px;

border-radius:20px;

}



.offline{

background:#3b1825;

color:#ff5c6c;

}



.action{

background:#162541;

border:0;

color:white;

font-size:22px;

border-radius:10px;

padding:5px 12px;

}
