.page-head{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:30px;

}


.page-head h1{

margin:0;

font-size:32px;

}



.page-head p{

margin-top:8px;

color:#94a3b8;

}



.create-btn{

background:#2563eb;

padding:14px 24px;

border-radius:12px;

color:white;

cursor:pointer;

}





/* STAT CARDS */


.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:25px;

}



.stat-card{


height:140px;


padding:25px;


border-radius:18px;


background:
linear-gradient(
145deg,
#0d1833,
#101d3b
);


border:1px solid #1e335c;


display:flex;


align-items:center;


gap:20px;


}



.stat-card .icon{


width:55px;

height:55px;


border-radius:16px;


display:flex;


align-items:center;

justify-content:center;


font-size:25px;


background:#172554;


}



.stat-card span{


display:block;

color:#94a3b8;

font-size:14px;


}



.stat-card strong{


display:block;

font-size:32px;


margin:5px 0;


}



.stat-card small{


color:#64748b;


}



/* colors */


.stat-card.blue .icon{

background:#172554;

}


.stat-card.green .icon{

background:#064e3b;

}


.stat-card.purple .icon{

background:#3b0764;

}


.stat-card.orange .icon{

background:#78350f;

}





/* USERS BOX */


.users-box{


background:#0b1734;


border:1px solid #1e335c;


border-radius:18px;


padding:25px;


}




.box-header{


display:flex;


justify-content:space-between;


align-items:center;


margin-bottom:20px;


}



.box-header h2{


margin:0;


font-size:20px;


}



.search{


display:flex;

gap:10px;

}



.search input{


width:280px;


background:#071329;


border:1px solid #23345d;


border-radius:10px;


padding:13px 15px;


color:white;


}



.search button{


background:#101d3b;


border:1px solid #23345d;


color:white;


border-radius:10px;


padding:0 20px;


}





/* TABLE */


.users-box table{


width:100%;


border-collapse:collapse;


}



.users-box th{


text-align:left;


padding:18px;


color:#94a3b8;


font-size:14px;


}



.users-box td{


padding:18px;


border-top:1px solid #172554;


}





.username{


display:flex;


align-items:center;


gap:15px;


font-weight:600;


}



.avatar{


width:38px;

height:38px;


border-radius:50%;


background:#2563eb;


display:flex;


align-items:center;

justify-content:center;


}





.status{


padding:6px 14px;


border-radius:20px;


font-size:13px;


}



.offline{


background:#3f1722;

color:#fb7185;


}



.action{


background:#101d3b;


border:1px solid #23345d;


color:white;


width:40px;

height:40px;


border-radius:10px;


font-size:20px;


}



.footer{


margin-top:25px;

color:#94a3b8;


}
