.page-head{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:30px;

}


.page-head h1{

font-size:34px;
margin:0;

}


.page-head p{

color:#8fa4ca;

}



.create-btn{

background:#1765ff;

padding:15px 25px;

border-radius:12px;

}




.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:30px;

}



.stat-card{


background:#0b1931;

border:1px solid #203454;

border-radius:18px;

padding:25px;

display:flex;

gap:20px;

align-items:center;


}



.stat-card .icon{

width:55px;
height:55px;

border-radius:18px;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

background:#10274b;

}



.stat-card span{

display:block;

color:#9cafcf;

}


.stat-card strong{

display:block;

font-size:32px;

margin:5px 0;

}


.stat-card small{

color:#8294b8;

}





.users-box{


background:#0a172d;

border:1px solid #203454;

border-radius:18px;

padding:25px;


}




.box-header{

display:flex;

justify-content:space-between;

margin-bottom:25px;

}



.box-header h2{

margin:0;

}



.search input{

background:#081427;

border:1px solid #263b60;

padding:14px;

border-radius:12px;

color:white;

}


.search button{

margin-left:10px;

padding:14px 25px;

border-radius:12px;

background:#132541;

border:1px solid #263b60;

color:white;

}





table{

width:100%;

border-collapse:collapse;

}



th{

text-align:left;

padding:18px;

color:#8da2c7;

border-bottom:1px solid #203454;

}



td{

padding:20px;

border-bottom:1px solid #172a49;

}



.username{

display:flex;

align-items:center;

gap:15px;

font-weight:bold;

}



.avatar{

width:38px;
height:38px;

border-radius:50%;

background:#2563eb;

display:flex;

align-items:center;

justify-content:center;

}





.status{

padding:7px 14px;

border-radius:20px;

background:#321b2b;

color:#ff5c6c;

font-size:13px;

}




.action{

background:#162640;

border:0;

color:white;

border-radius:10px;

font-size:22px;

padding:5px 12px;

}



.footer{

padding-top:25px;

color:#8395b8;

}
